<div class="text-center">
  <table class="table">
    <thead class=" text-primary">
      <tr>
        <th>#</th>
        <th> Nome </th>
        <th> Sobrenome </th>
        <th> Email</th>
        <th> Data de Nascimento </th>
        <th> Ações </th>
      </tr>
    </thead>
    <tbody *ngIf="contatos.length !== 0">
      <tr *ngFor="let c of contatos | paginate: config">
        <td>{{c.id}}</td>
        <td>{{c.name | uppercase}}</td>
        <td>{{c.lastName}}</td>
        <td>{{c.email}}</td>
        <td>{{c.birthDate}}</td>
        <td class="d-flex justify-content-around">
          <a href="#" [routerLink]="['/contato/editar', c.id]" ><i class="fa fa-edit fa-2x"></i></a> 
          <a href="#" (click)="excluir(c.id);$event.preventDefault();"><i class="fa fa-trash fa-2x"></i></a>
        </td>
      </tr>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
